<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{../fragments/general.html :: head(title='Settings')}"></head>

<body>
	<header th:replace="~{../fragments/general.html :: header(activePage='Settings')}"> </header>
	<main class="container">

		<div class="col-6 mx-auto card text-center p-3">
			<h1>Settings</h1>
			<br>

			<div th:replace="~{../fragments/general.html :: alert}"> </div>
			<div th:replace="~{../fragments/general.html :: success}"> </div>

			<form action="/user/settings" method="post">

				<div class="input-group mb-3">
					<span class="input-group-text">Notes spacing : </span>
					<input class="form-control" placeholder="Notes spacing" type="number"
						th:field="${userSettings.notesSpacing}">
				</div>

				<div class="form-group p-3">
					<div th:each="keyEntry: ${ userSettings.keys }" th:with="label='key-' + ${keyEntry.key}">

						<div class="input-group mb-3">

							<span class="input-group-text" th:text="${label}"></span>
							<input class="form-control" th:placeholder="${label}" type="text"
								th:field="${userSettings.keys['__${keyEntry.key}__']}">
						</div>

					</div>
				</div>
				<button type="submit" class="btn btn-primary p-3">Save</button>
			</form>
		</div>

	</main>
</body>

</html>