<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title th:text="${title}"></title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='/css/bootstrap.css'>
</head>

<body>
	<header class="container p-3" th:fragment="header">
		<div class="row">
			<div class="col-4 ms-auto">

				<ul class="nav nav-pills justify-content-center">
					<li class="nav-item"><a href="/user/settings" class="nav-link"
							th:classappend="${activePage} == 'Settings' ? 'active' : ''">Settings</a></li>
					<li class="nav-item"><a href="/logout" class="nav-link">Logout</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<ul class="nav nav-pills justify-content-center">
				<li class="nav-item"><a href="/" class="nav-link"
						th:classappend="${activePage} == 'Home' ? 'active' : ''">Home</a></li>
				<li class="nav-item"><a href="/archive-selection" class="nav-link"
						th:classappend="${activePage} == 'Archive selection' ? 'active' : ''">Archive selection</a></li>
				<li class="nav-item"><a href="/setup" class="nav-link"
						th:classappend="${activePage} == 'Setup' ? 'active' : ''">Setup</a></li>
				<li class="nav-item"><a href="/game" class="nav-link"
						th:classappend="${activePage} == 'Game' ? 'active' : ''">Game</a></li>
			</ul>
		</div>
		<hr>
	</header>
</body>

</html>