<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="margin: 0; height: 100%; overflow: hidden">

<head th:insert="~{../fragments/general.html :: head(title='Game')}"></head>
<script src='javascript/bundle.js' type="module" defer></script>

<body>
	<header th:replace="~{../fragments/general.html :: header(activePage='Game')}"> </header>
	<main class="container">
		<!-- <div class="row">
			<div id="error-message" class="alert alert-danger col-4 m-3 mx-auto" role="alert"></div>
		</div> TODO -->

		<div class="row">
			<div class="alert alert-success col-4 m-3 mx-auto" role="alert">
				<h1 id="note-rating" class="text-center"></h1>
			</div>
		</div>

		<div class="row">
			<canvas class="card col mx-auto"></canvas>
		</div>
	</main>
</body>

</html>