<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{../fragments/general.html :: head(title='Home')}"></head>

<body>
	<header th:replace="~{../fragments/general.html :: header(activePage='Home')}"> </header>
	<main class="container">

		<section id="archive-upload" class="my-2">
			<div class="col-6 mx-auto card text-center p-3">
				<form action="/load-osu-archive" method="post" enctype="multipart/form-data">

					<div class="row">
						<div class="col">
							<input class="form-control" type="file" id="osu-archive" name="osu-archive">
						</div>
						<div class="col-3">
							<button type="submit" class="btn btn-primary p-2">Upload</button>
						</div>
					</div>
				</form>
			</div>
		</section>

		<section id="archive-selection" class="my-2">
			<h1 class="text-center">Choose an osu archive</h1>
			<div class="col-10 mx-auto card p-3">
				<br>
				<form action="/archive-selection" method="post">
					<div class="col">
						<div class="form-group p-3">
							<div th:each="archive: ${archives}">
								<input type="radio" name="archive-code" th:text="' ' + ${archive.artist} + ' - ' + ${archive.song}" th:value="${archive.code}">
								<br>
							</div>
						</div>
					</div>

					<div class="col text-center">
						<button type="submit" class="btn btn-primary p-3">Setup game</button>
					</div>
				</form>
			</div>
		</section>
	</main>
</body>

</html>