<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{../fragments/general.html :: head(title='Home')}"></head>

<body>
	<header th:replace="~{../fragments/general.html :: header(activePage='Home')}"> </header>
	<main class="container">

		<section id="archive-upload" class="my-2">
			<div th:if="${param.error}" class="alert alert-danger col-3 m-2 mx-auto" role="alert">
				<h4 th:if="${param.error[0]} == 'uploaded-file-is-empty'" class="alert-heading text-center m-0">Uploaded
					file is empty
					!</h4>
			</div>

			<div th:if="${param.success}" class="alert alert-success col-3 m-2 mx-auto" role="alert">
				<h4 th:if="${param.success[0]} == 'file-upload-successful'" class="alert-heading text-center m-0">File
					was
					uploaded successfully !</h4>
			</div>

			<div class="col-6 mx-auto card text-center p-3">
				<form action="/load-osu-archive" method="post" enctype="multipart/form-data">

					<div class="row">
						<div class="col">
							<input class="form-control" type="file" id="osu-archive" name="osu-archive">
						</div>
						<div class="col-3">
							<button type="submit" class="btn btn-primary p-2">Upload</button>
						</div>
					</div>
				</form>
			</div>
		</section>

		<section id="archive-selection" class="my-3">
			<h1 class="text-center">Choose an osu archive</h1>

			<div class="row my-4">

				<div class="col-6" th:each="archive: ${archives}">
					<div class="card p-3">
						<div class="row">
							<h3 th:text="' ' + ${archive.artist} + ' - ' + ${archive.song}"></h3>
						</div>

						<div class="row">
							<div class="col">
								<div class="btn-group-vertical" role="group">
									<form action="/" method="post" th:each="beatmap: ${archive.beatmaps}">

										<input type="hidden" name="archive-code" th:value="${archive.code}">
										<input type="hidden" name="difficulty" th:value="${beatmap.difficulty}">
										<button type="submit" class="btn btn-sm btn-secondary m-1"
											th:text="${beatmap.difficulty}"></button>
									</form>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-2 ms-auto">
								<form action="/like" method="post">
	
									<input type="hidden" name="archive-code" th:value="${archive.code}">
									<button type="submit" class="btn btn-info">Like</button>
								</form>
							</div>
						</div>

					</div>
				</div>

			</div>

		</section>
	</main>
</body>

</html>