<!DOCTYPE html>
<html>

<head th:replace="~{../fragments/general.html :: head}"></head>

<body>
	<header th:replace="~{../fragments/general.html :: header(activePage='Setup')}"> </header>
	<main>
		<h1>Choose difficulty</h1>

		<form action="/setup-game" method="post">
			<div th:each="name: ${beatmapsNames}">
				<input type="radio" name="beatmap-name" th:text="${name}" th:value="${name}">
				<br>
			</div>
			<div>
				<input name="note-spacing" type="number" value="2">
				<br>
			</div>

			<button type="submit">Start game</button>
		</form>
	</main>
</body>

</html>